<div class="jumbotron text-center">
    <h1>Tutorail App</h1>
    <p>Courses available for grades and boards!</p>
</div>
<div class="container">
    <h2>Login</h2>
    <p>Enter Email and Password</p>
    <form class="form-inline">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter email" ng-model="loginPage.email" ng-blur="loginPage.validate_email()" class="form-control">
            <span ng-show="loginPage.emailInvalid" ng-bind="loginPage.emailErrMsg" class="errorMsg"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="pwd" ng-model="loginPage.password" ng-blur="loginPage.validate_password()">
            <span ng-show="loginPage.passwordInvalid" ng-bind="loginPage.passswordErrMsg" class="errorMsg"></span>
        </div>
        <button type="submit" class="btn btn-default" ng-click="loginPage.loginUser()">Login</button>
    </form>
</div>