<div class="container">
  <div class="row">
    <h3>Tests</h3>
    <div class="col-xs-4 well well-lg" ng-repeat="test in resultPage.tests">
        <div ng-bind="test.subject"></div>
        <div ng-bind="test.duration"></div>
    </div>
  </div>
  <div class="row">
    <h3>Docs</h3>
    <div class="col-xs-4 well well-lg" ng-repeat="doc in resultPage.docs">
        <div ng-bind="doc.subject"></div>
        <div ng-bind="doc.submited_by"></div>
    </div>
  </div>
  <div class="row">
    <h4>Assignments</h4>
    <div class="col-xs-4 well well-lg" ng-repeat="assignment in resultPage.assignments">
        <div ng-bind="assignment.subject"></div>
        <div ng-bind="assignment.topic"></div>
    </div>
  </div>
</div>