<div class="jumbotron text-center">
    <h1>Tutorail App</h1>
    <p>Courses available for grades and boards!</p>
</div>
<div class="container">
    <h2>Search Materail</h2>
    <p>Select Grade and Board</p>
    <form class="form-inline">
        <div class="form-group">
            <label for="repeatSelect">Grade:</label>
            <select name="repeatSelect" id="repeatSelect" ng-model="searchPage.grade" class="form-control">
                <option value="" disabled selected>Select Grade</option>
                <option ng-repeat="grade in searchPage.availableGrades" value="{{grade}}">{{grade}}</option>
            </select>
            <span class="errorMsg" ng-show="searchPage.gradeInvalid" ng-bind="searchPage.gradeErrMsg"></span>
        </div>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="board" ng-model="searchPage.board" value="cbse">CBSE</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="board" ng-model="searchPage.board" value="icse">ICSE</label>
            </div>
            <span class="errorMsg" ng-show="searchPage.boardInvalid" ng-bind="searchPage.boardErrMsg"></span>
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchPage.submit()">Login</button>
    </form>
</div>